# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# Django
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Old failed Android copy
/android_old/
