<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!--
        Required for communicating with the MovieTime API.
    -->

    <uses-permission
        android:name="android.permission.INTERNET" />


    <application

        android:name=".MovieTimeApplication"

        android:allowBackup="false"

        android:label="MovieTime"

        android:supportsRtl="true"

        android:theme="@style/Theme.MovieTime"

        android:networkSecurityConfig="@xml/network_security_config"

        android:usesCleartextTraffic="false">


        <!--
            Your existing activities/services/providers
            remain here.
        -->

    </application>

</manifest>